/* Reset some default styles */
body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #333;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.nav-menu {
    display: flex;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s, background-color 0.3s;
}

.nav-link:hover {
    color: #333;
    background-color:#eb7b63;
    padding: 5px 10px;
    border-radius: 5px;
}

.section {
    padding: 100px 0;
    margin-top: 60px;
}

#home { background-color: #f1f1f1; padding: 200px 0; }
#about { background-color: #e2e2e2; padding: 200px 0; }
#services { background-color: #d3d3d3; padding: 200px 0; }
#contact { background-color: #c4c4c4; padding: 200px 0; }
